<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="MyOwn LOL Encyclopedia"/>
    <meta property="og:description" content="mini project for Web Development"/>
    <meta property="og:image" content="{{ url_for('static', filename='Back.jpg') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href='{{ url_for("static", filename="mystyle.css") }}' rel="stylesheet">
    {#공통된 스타일 시트 적용#}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {#아이콘 적용#}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>나만의 롤 백과사전</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    {#폰트 가져오기#}

    <style>
        .container {
            width: 80%;
            max-width: 1000px;
            margin: 30px auto;
            padding: 20px;
            background-color: white;

            border: solid 1px gray;
            border-radius: 10px;
        }

        span.example {
            color: gray;
            font-size: 14px;
        }

        .heart {
            color: pink;
            background-color: cornflowerblue;
            border-color: cornflowerblue;
        }

        .view {
            color: black;
            background-color: cornflowerblue;
            background-image: none;
            border-color: cornflowerblue;
        }

        .button {
            float: right;
        }

        .search-box {
            width: 70%;
            margin: 50px auto;
            max-width: 700px;
        }

        .container.highlight {
            border: solid 5px gray;
            background-color: aliceblue;
        }
    </style>
    <script>
        $(document).ready(function () {
            {#listing()#}
        })

        function listing() {
            $.ajax({
                type: "GET",
                url: "/lol",
                data: {},
                success: function (response) {
                    let lols = response['all_lol']
                    for (let i = 0; i < lols.length; i++) {
                        let title = lols[i]['title']
                        let name = lols[i]['name']
                        let position = lols[i]['position']
                        let star = lols[i]['star']
                        let desc = lols[i]['desc']
                        let file = lols[i]['file']

                        let star_image = '⭐'.repeat(star)

                        let temp_html = `<div class="container" id = "word">
                                            <div class="d-flex flex-row justify-content-between">
                                                <div class="d-flex flex-row justify-content-start">
                                                   <img src="../static/${file}" style="display: inline" width="100">
                                                    <div>
                                                        <h1 id="title" style="margin-left: 10px">${title}</h1>
                                                        <h5 id="name" style="display: inline; margin-left: 15px"> ${name}</h5>
                                                    </div>
                                                </div>
                                                <div class="button">
                                                    <button id="btn-save" style="display: inline;" class="btn btn-outline-sparta btn-lg">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </button>
                                                    <button id="btn-delete" class="btn btn-sparta btn-lg">
                                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <hr>
                                            <div id="definitions">
                                                <div style="padding:10px">
                                                    <i>${position}</i>
                                                    <br><i>${desc}</i><br>
                                                    <span class="example">${star_image}</span>
                                                </div>
                                            </div>
                                        </div>`
                        $('#card-box').append(temp_html)
                    }
                }
            })
        }
        {# jinia2 사용하면서 비활성 참고용으로 놔둠#}

        let words = {{ words|tojson }};
        let word_list = [];
        for (let i = 0; i < words.length; i++) {
            word_list.push(words[i]["name"])
        }
        console.log(word_list)
        {#월드 리스트 만들기 콘솔로 보면 들어와있음#}

        function find_word() {
            let word = $("#input-word").val()
            if (word_list.includes(word)) {
                // 리스트에 있으면 하이라이트
                $(`#word-${word}`).addClass("highlight")
                $(`#word-${word}`).siblings().removeClass("highlight")
                $(`#word-${word}`)[0].scrollIntoView()
            } else {
                alert("꿀팁이 없습니다!")
                window.location.reload()
                //그냥 없다고만 표시하면 됨
            }
        }

        let star_list = [];
        for (let i=0; i<words.length; i++) {
            star_list.push(words[i]["star"])
        }
        console.log(star_list)
        console.log('⭐'.repeat(5))

        {#별 그림 넣기 함수 만드는 중#}
        {#밑에 if 구문 말고 위에서 함수로 돌려서 넣을 수 없을까?#}

    </script>
</head>
<body>

<div class="wrap">
    <div class="banner" onclick="window.location.href = '/'">
        <div style="display: inline-block; margin: 10px 5px; float: right">
            {#오른쪽으로 묶어서 보내기#}
            <button type="button" class="btn btn-primary"
                    onclick="window.location.href = '/detail'; event.stopPropagation();">글쓰기
            </button>
            {#bubbling issue#}
            <button type="button" class="btn btn-primary">로그아웃</button>
        </div>
        <h1>나만의 롤 백과사전</h1>
    </div>
    <div class="search-box d-flex justify-content-center">
        <input id="input-word" class="form-control" style="margin-right: 0.5rem">
        <button class="btn btn-light" onclick="find_word()"><i class="fa fa-search"></i></button>
    </div>
    <div id="card-box">
        {% for word in words %}
            <div class="container" id="word-{{ word.name }}">
                <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row justify-content-start">
                        <img src="../static/{{ word.file }}" style="display: inline" width="100">
                        <div>
                            <h1 id="title" style="margin-left: 10px">{{ word.title }}</h1>
                            <h5 id="name" style="display: inline; margin-left: 15px"> {{ word.name }}</h5>
                        </div>
                    </div>
                    <div class="button">
                        <button id="btn-save" onclick="window.location.href = '/detail'" style="display: inline;" class="btn view btn-lg">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                        <button id="btn-delete" class="btn heart btn-lg">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <hr>
                <div id="definitions">
                    <div style="padding:10px">
                        <i>{{ word.position }}</i>
                        <br><i>{{ word.desc }}</i><br>
                        <span class="example">
                            {% if word.star|int <= 1 %}
                            ⭐
                            {% elif word.star|int <= 2 %}
                            ⭐⭐
                            {% elif word.star|int <= 3 %}
                            ⭐⭐⭐
                            {% elif word.star|int <= 4 %}
                            ⭐⭐⭐⭐
                            {% else %}
                            ⭐⭐⭐⭐⭐
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>